 .bgc {
     padding: 45px 0px 14px 0px !important;
 }
 .errorcl {
     font-family: 'JosefinSans-Regular' !important;
     color: red !important;
     font-size: 13px !important;
     padding-top: 3px !important;
 }
.mainform{
    padding: 30px 10px 40px 10px !important;
}

 .elepadding {
     padding: 5px 0px 5px 0px !important;
 }

 .frgt-pass-link {
     margin-left: 5em !important;
     margin-top: 1em !important;
     position: absolute;
     color: blue !important;
 }

 .MuiFormControlLabel-root {
     margin-left: -8px !important;
     margin-right: 5px !important;
 }

 .create-acct {
     margin-left: 0em !important;
     font-family: 'JosefinSans-Regular' !important;
     color: black;
     font-size: smaller !important;
     padding-top: 1.1em !important;
     text-align: center;
 }

 .create-link {
     padding-left: 9px !important;
     color: blue !important;
 }

 .MuiBox-root p {
     text-align: justify !important;
     margin: 0 !important;
     font-family: 'JosefinSans-Regular' !important;
     font-weight: 300 !important;
     font-size: .8em !important;
     line-height: 1.5 !important;
     letter-spacing: 0.00938em !important;
     padding: 0px !important;
 }

 .mainGrid {
     width: 70% !important;
     box-shadow: 5px 5px 5px -4px !important;
     border-radius: 10px !important;
     border-radius: 0px 10px 10px 0px !important;
     height: 75% !important;
 }

 .imageGrid {
     background: aqua !important;
     border-radius: 10px 0px 0px 10px !important;
 }

 .img {
     width: 100% !important;
     height: 100% !important;
 }