 .bgc{
    /* background: #1282a2 !important; */
    padding: 1px 0px 14px 0px;
   
    background: aqua !important;
}

/* .img1 {
    border-radius: 0;
} */

label.form-check-label {
    color: white;
    margin-right: 10px;
}

.errorcl {
    font-family: 'JosefinSans-Regular' !important;
    color: white !important;
    text-align: center !important;
}

.h3el {
    margin-bottom: 7px !important;
    font-family: 'JosefinSans-Regular' !important;
    color: white !important;
    text-align: center !important;
    font-size: 40px !important;
    text-anchor: end !important;
}

btn-br {
    border-radius: 10px !important;

}

/* button {
    font-family: JosefinSans-Regular !important;
    font-size: 12px !important;
    border-radius: 10px !important;
    margin-left: 75px !important;
    height: 40px !important;
    width: 12em !important;
    color: white !important;
} */

.mb-3 {
    margin-bottom: 1rem !important;
    font-family: JosefinSans-Regular !important;
    padding-left: 0.4em !important;
    font-size: smaller !important;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 2.5em !important;
    margin-bottom: .125rem;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.em !important;
    margin-top: -3px !important;
    border-radius: 5px !important;

}

.frgt-pass-link {
    margin-left: 22.5em !important;
    margin-top: -1.9em !important;
    position: absolute;
}


.create-acct {
    margin-left: 0em !important;
    font-family: 'JosefinSans-Regular' !important;
    color: white;
    font-size: smaller !important;
    padding-top: 1.1em !important;
    text-align: center;
}

.create-link {
    padding-left: 9px !important;
}



.wrapper {
    background: #1282a2 !important;
    /* background-image: url('/src/asserts/images/D-kart5.jpg') !important; */
    justify-content: center !important;
    align-items: center !important;
    /* min-height: 100vh !important; */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    display: flex !important;
}

.mainform {
    width: 100%;
    /* text-align: center;   */
}


.left-section {
    flex: .5;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px !important;
    background-color: #1282a2 !important;
    border-radius: 12px 0px 0px 12px !important;
    box-shadow: 6px 0px 6px 6px
}

.right-section {
    /* background-image: url('/src/asserts/images/login.webp') !important; */
    /* flex: 1 !important; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #dfe6e9 !important;
    border-radius: 0px 12px 12px 0px !important;
    box-shadow: 6px 0px 6px 6px

}

.right-section img {
    max-width: 100% !important;
    height: auto !important;
}

.container {
    display: flex !important;
    height: 87vh !important;
    margin-top: 17px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}