.maindiv{
    padding-left: 10px;
}
.create-acct-signup {
    text-align: center !important;
}

.create-link-signup {
    padding-left: 9px !important;
    color: blue !important;
}

.MuiGrid-root .maingrid{
    width: 80% !important;
    display: flex !important;
    align-items: center !important;
    height: 65vh !important;
  }
  .img {
    width: 100% !important;
    height: 100% !important;
}
.fm-signup{
       justify-items: center !important;
}

.leftgrid{
    background: aqua !important;
    border-radius: 10px 0px 0px 10px !important;
}

.rightgrid{
    padding: 20px 10px 10px 10px !important
}

.maingrid{
    width: 70% !important;
    box-shadow: 5px 5px 5px -4px !important;
    border-radius: 10px !important;
    border-radius: 0px 10px 10px 0px !important;
    height: 75% !important;
    margin-top: 50px !important;
  }